* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
  
body {
  background-color: rgb(221, 241, 254);
  font-family: "Inconsolata";
  
 
}

#main{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 15vh;
  transform: scale(5); /* scale from top center */
}


 p {
  margin-top: 100px;
  display: inline;
 }
